@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-scroll {
  animation: scroll linear infinite;
}

@keyframes scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100);
  }
}
